[user]
	name = jessesomerville
	email = jssomerville2@gmail.com

[alias]
    dotf = !git --git-dir=$HOME/.dotfiles --work-tree=$HOME

[diff]
  colorMoved = default

[pager]
  diff = delta

[delta]
  features = diff-colors line-numbers file-headers
  syntax-theme = turnip
  tabs = 2
  dark = true
  side-by-side = false
  navigate = true
  hunk-header-style = omit

[delta "diff-colors"]
  minus-style = syntax "#3B1A13"
  minus-emph-style = syntax "#55451b"
  minus-non-emph-style = minus-style
  minus-empty-line-marker-style = minus-style
  plus-style = syntax "#243324"
  plus-emph-style = syntax "#36424C"
  plus-non-emph-style = plus-style
  plus-empty-line-marker-style = plus-style
  zero-style = syntax

[delta "line-numbers"]
  line-numbers = true
  line-numbers-left-format = " {nm:>1} "
  line-numbers-left-style = black
  line-numbers-minus-style = "#bf4349"
  line-numbers-right-format = " {np:>1} │ "
  line-numbers-right-style = black
  line-numbers-plus-style = green
  line-numbers-zero-style = "#404040"

[delta "file-headers"]
  file-style = syntax
  file-decoration-style = "#b57614" ul ol
  file-added-label = [added]
  file-copied-label = [copied]
  file-modified-label = [modified]
  file-removed-label = [removed]
  file-renamed-label = [renamed]

[interactive]
  diffFilter = delta --color-only

[core]
  editor = nvim
  excludesfile = ~/.gitignore
